/* Start Global Rules */
:root {
  --main-color: #0052ce;
  --sec-color: #e0ebfc;
  --third-color: white;
  --fourth-color: #1d3d9a;
  --fifth-color: #e0ebfc;
  --main-transition: 0.3s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  background-image: url(/assets/jirlie_dashboard/img/mu.png);
  background-size: cover;
  background-repeat: no-repeat;
  /* background: rgb(255, 255, 255);
  background: linear-gradient(
    360deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 5%,
    rgba(224, 235, 252, 1) 100%
  ); */
  height: 100vh;
  overflow: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  margin: 0;
}
.anim-text {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 2rem;
  font-weight: 100;
  letter-spacing: 2px;
  text-align: center;
  color: #f35626;
  background-image: -webkit-linear-gradient(#6e64ab, #ea4498, #68c8d4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 10s infinite linear;
}
@media (max-width: 768px) {
  .anim-text {
    font-size: 1.2rem;
  }
}
@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
/* .blur-overlay {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  backdrop-filter: blur(10px);
}  */
/* End Global Rules */
/* Start Navbar */
.dropdown-toggle::after {
  display: none;
}
.navbar {
  background-color: rgb(255 255 255 / 50%);
  backdrop-filter: blur(12.5px);
}
.navbar .pic img {
  width: 40px;
}
.navbar .nav-link {
  background-color: var(--fifth-color);
  padding: 10px 15px;
  border-radius: 50%;
  color: #bdb5b5;
}
.dropdown-menu[data-bs-popper] {
  right: 0;
  left: unset;
}
@media (max-width: 768px) {
  .navbar .anim-text {
    display: none;
  }
  .navbar .pic img {
    width: 65px;
  }
  .navbar ul {
    padding: 0;
  }
}
/* End Navbar */
/* Start Dashboard */
.dashboard .all-icons {
  height: 85vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.dashboard .all-icons .all {
  background-color: rgb(255 255 255 / 50%);
  backdrop-filter: blur(12.5px);
  /* padding: 15px; */
  border-radius: 20px;
}
.dashboard .icons,
.list .icons {
  width: fit-content;
}
.dashboard a,
.list a,
.dashboard .list-btn {
  position: relative;
  display: block;
  text-align: center;
  padding: 5px;
  box-sizing: border-box;
  text-decoration: none;
  /* box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  background: linear-gradient(0deg, #ddd, #fff); */
  transition: 0.5s;
  cursor: pointer;
}
/* .dashboard a:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-decoration: none;
} */
.dashboard a i,
.dashboard .list-btn i {
  width: 56px;
  padding: 10px;
  display: block;
  /* background: linear-gradient(0deg, #fff, #ddd); */
  font-size: 2rem;
  color: #262626;
  transition: 0.5s;
}
.item-anchor {
  transition: 0.3s;
}
.item-anchor:hover {
  transform: scale(1.3) translateY(-10px);
}
.item-anchor:has(+ .item-anchor:hover),
.item-anchor:hover + .item-anchor {
  transform: scale(1.1) translateY(-5px);
}

.icons {
  transition: 0.3s;
}
.icons:hover {
  transform: scale(1.3) translateY(-10px);
}
.icons:has(+ .icons:hover),
.icons:hover + .icons {
  transform: scale(1.1) translateY(-5px);
}
.dashboard span,
.list span {
  font-weight: 500;
  text-align: center;
}
/* End Dashboard */
/* Start List */
.list {
  position: absolute;
  bottom: -100%;
  left: 0;
  z-index: 999;
  background-color: #000000e0;
  width: 100%;
  height: 100vh;
  transition: 0.3s;
}
.list-close {
  bottom: 0;
  cursor: pointer;
}
.list .close {
  color: white;
  text-align: right;
  padding: 8px 2rem;
}
.list a i {
  width: 56px;
  padding: 10px;
  display: block;
  /* background: linear-gradient(0deg, #fff, #ddd); */
  font-size: 2rem;
  color: white;
  transition: 0.5s;
}
/* End List */
